
    html {
      font-family: sans-serif;
    }

    body {
      margin: 5;
	  background: yellow;
    }

    h1 {
      text-align: center;
      color: RED;
      line-height: 100px;
      margin: 25px;
    }
	
	.flex-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.flex-container > div {
		flex-wrap: nowrap;
		border: 3px dotted darkblue;
		box-sizing: border-box;
		margin: 5px;
		padding: 10px;
		
	}


	
