
 html {
	font-family: sans-serif;
}

body {
	margin: 5;
	background-color: darkwhite;
}

h1 {
	text-align: center;
	color: black;
	line-height: 100px;
	margin: 5px;
}

.pet1{
	position:absolute;
	top: 200px;
	right: 0px;
	left: 0px;
	animation: fly 2.5s both infinite linear,
	           dive 3s 5s infinite ease-in-out;
	
}

.pet2{
	position:absolute;
	bottom: 40px;
	left: 0px;
	animation: run 3s both infinite linear,
	           hop 1.5s 0.2s infinite ease-in-out;
}

.pet3{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation: rotation 8s both infinite ease-in-out;
			   
	           
}


@keyframes run{
	from{ transform: translateX(-100px)}
	to{ transform: translateX(1000px)}
}

@keyframes hop{
	0%{bottom: 40px}
	50%{bottom: 100px}
	100%{bottom: 40px}
}

@keyframes fly{
	0%{left: 1000px}
	25%{right: 150px}
	50%{right: 500px}
	75%{right: 1500px}
	100%{right: 1000px}

	
}

@keyframes dive{
	0%{top: 450px}
	50%{bottom: 1000px}
	75%{bottom: 1000px}
	85%{bottom: 1500px}
	100%{top: 100px}
}

@keyframes rotation {
  from {
	width:  20px;
	height: 20px;
    transform: rotate(-0deg);
	
  }
  to {
	width:  300px;
    height: 300px;
	transform: rotate(-360deg);
  }
}